* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body .container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

body .container .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .navbar .logo {
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}

body .container .navbar .menu-icon {
  width: 25px;
  cursor: pointer;
}

body .container .navbar nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

body .container .navbar nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

body .container .navbar nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

body .container .navbar nav ul li a:hover {
  color: #ff5ea2;
}

body .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0;
}

body .container .row .col-1 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}

body .container .row .col-1 h2 {
  font-size: 54px;
}

body .container .row .col-1 h3 {
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}

body .container .row .col-1 p {
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
}

body .container .row .col-1 h4 {
  margin: 30px 0;
  font-size: 20px;
}

body .container .row .col-1 button {
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#fb5283), to(#ff3527));
  background: linear-gradient(to right, #fb5283, #ff3527);
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

body .container .row .col-1 button img {
  width: 30px;
  display: none;
}

body .container .row .col-1 button:hover img {
  display: block;
}

body .container .row .col-1 button:hover {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .row .col-1::after {
  content: "";
  width: 10px;
  height: 57%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fb5283), to(#ff3527));
  background: linear-gradient(#fb5283, #ff3527);
  position: absolute;
  left: -40px;
  top: 8px;
}

body .container .row .col-2 {
  position: relative;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .row .col-2 .controller {
  width: 90%;
}

body .container .row .col-2 .color-box {
  position: absolute;
  right: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#fb5283), to(#ff3527));
  background: linear-gradient(#fb5283, #ff3527);
  border-radius: 20px 0 0 20px;
  height: 100%;
  width: 80%;
  z-index: -1;
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
}

body .container .row .col-2 .add-btn {
  text-align: center;
  color: #fff;
  cursor: pointer;
}

body .container .row .col-2 .add-btn img {
  width: 35px;
  margin-bottom: 5px;
}

body .container .social-links {
  text-align: center;
}

body .container .social-links img {
  height: 13px;
  margin: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */