@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans:wght@600;700&family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Noto+Sans:wght@700&family=Open+Sans:wght@600;700&family=Roboto+Condensed:wght@700&display=swap");

$font: (
  font1: "Montserrat",
  font2: "Merriweather",
  font3: "Roboto Condensed",
  font4: "Open Sans",
  font5: "Noto Sans",
);

@function font($fontName) {
  @return map-get($font, $fontName);
}

$color: (
  primary: #dfb250,
  accent: #8d7df2,
  bdbg: #383838,
  bg: #636363,
  transp: #0000006b,
  font: #6f6f6f,
  bg1: #f4f4f4,
  bg-normal: #ffffff,
  shadow: #dcdcdc,
  shadow2: #353535,
);

@function color($colorName) {
  @return map-get($color, $colorName);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: font(font1);
}

a {
  text-decoration: none;
  color: color(bdbg);
}

body {
  height: 100%;
  width: 100%;
  background-color: color(bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

section {
  width: 850px;
  height: 500px;
  background-color: color(bg-normal);
  display: flex;
  flex-direction: column;
}

.text {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: color(primary);
    letter-spacing: 2px;
    margin-bottom: 4px;
  }
  h5 {
    font-size: 14px;
    color: color(bdbg);
  }
}

.header {
  height: 500px;
  overflow: hidden;
  .inner {
    width: 100%;
    height: 100%;
    background-color: color(bg1);
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 36% 89%, 0% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    nav {
      width: 90%;
      height: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      div {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          height: 35px;
        }
      }
      .menu-btn {
        i {
          font-size: 18px;
          cursor: pointer;
        }
      }
    }
  }
  .inner-about {
    width: 100%;
    height: 90%;
    background-color: color(bg1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    nav {
      width: 90%;
      height: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      div {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          height: 35px;
        }
      }
      .menu-btn {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        a {
          font-size: 8px;
          text-transform: uppercase;
          height: 35px;
          width: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          color: color(bg-normal);
          margin-right: 30px;
        }
        #login {
          background-color: color(accent);
        }
        #contact {
          background-color: color(primary);
        }
        i {
          font-size: 18px;
          cursor: pointer;
        }
      }
    }
  }
  // .inner:before {
  //   position: absolute;
  //   content: "";
  //   width: 400px;
  //   height: 125px;
  //   background-color: color(bg1);
  //   left: 250px;
  //   top: 300px;
  //   transform: skewY(-10deg);
  // }
  // .inner:after {
  //   position: absolute;
  //   content: "";
  //   width: 700px;
  //   height: 125px;
  //   background-color: color(bg1);
  //   right: 250px;
  //   top: 310px;
  //   transform: skewY(10deg);
  // }
  #about-img {
    background: url(../images/Heroimg.png);
    background-position: center;
    background-size: cover;
    color: color(bg-normal);
    justify-content: flex-end;
    align-items: flex-end;
  }
  #services-img {
    background: url(../images/Heroservce.png);
    background-position: center;
    background-size: cover;
    color: color(bg-normal);
    justify-content: flex-end;
    align-items: flex-end;
  }
  #contact-img {
    background: url(../images/cont.jpg);
    background-position: center;
    background-size: cover;
    color: color(bg-normal);
    justify-content: flex-end;
    align-items: flex-end;
  }
  #port-img {
    background: url(../images/Heroport.png);
    background-position: center;
    background-size: cover;
    color: color(bg-normal);
    justify-content: flex-end;
    align-items: flex-end;
  }
  .hero {
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .headings {
      height: 100%;
      width: 100%;
      padding-right: 80px;
      background: color(transp);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      .hhh {
        padding-top: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        h4 {
          margin-bottom: 20px;
          letter-spacing: 2px;
          font-weight: 400;
          font-size: 14px;
        }
        h2 {
          letter-spacing: 1px;
        }
      }
      .box {
        height: 35px;
        width: 120px;
        background-color: color(bg-normal);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: color(bdbg);
        font-size: 14px;
        #pipe {
          margin: 0 2px;
          font-size: 12px;
        }
        #wri {
          color: color(primary);
        }
      }
    }
    .content {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      .con {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 9;
        color: color(bdbg);
        .h {
          h1 {
            font-size: 35px;
            font-family: font(font5);
          }
          z-index: 2;
        }
        .bar {
          margin-bottom: 10px;
          height: 20px;
          width: 80%;
          background-color: color(primary);
          transform: translateY(-20px);
          z-index: -1;
        }
        p {
          font-size: 9px;
          margin-bottom: 10px;
        }
        .btns {
          width: 100%;
          height: 50px;
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          a {
            font-size: 8px;
            text-transform: uppercase;
            height: 60%;
            width: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            color: color(bg-normal);
            margin-right: 30px;
          }
          #login {
            background-color: color(accent);
          }
          #contact {
            background-color: color(primary);
          }
        }
      }
    }
    .ilus {
      height: 100%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 350px;
        width: 400px;
      }
    }
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    .con {
      height: 320px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .card {
        width: 90%;
        height: 80%;
        background-color: color(bg-normal);
        box-shadow: 1px 1px 20px color(shadow);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .col {
          height: 100%;
          width: 25%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          .inner {
            height: 90%;
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
              height: 85px;
              width: 100px;
            }
            .text {
              margin-top: 20px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              p {
                font-size: 12px;
                width: 50%;
                display: flex;
                align-items: center;
                color: color(bdbg);
                text-transform: none;
                letter-spacing: 0;
              }
              .arrow {
                margin-left: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 25px;
                border: 1px dotted color(bdbg);
                color: color(bdbg);
              }
            }
          }
        }
      }
    }
  }
}

.about {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    .con {
      height: 280px;
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .info {
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        h3 {
          font-size: 14px;
          color: color(bdbg);
          text-transform: uppercase;
          letter-spacing: 5px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        h2 {
          font-size: 16px;
          color: color(bdbg);
          margin-bottom: 30px;
        }
        h5 {
          font-size: 12px;
          color: color(font);
          font-weight: 400;
          letter-spacing: 2px;
          margin-bottom: 15px;
        }
        p {
          font-size: 10px;
          color: color(font);
          margin-bottom: 10px;
        }
        .btns {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 60px;
          a {
            font-size: 10px;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            height: 60%;
            width: 100px;
            color: color(font);
            border: 2px solid color(font);
          }
          .card {
            background-color: color(bg-normal);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            border-left: 5px solid color(primary);
            height: 90%;
            width: 50%;
            box-shadow: 4px 4px 5px color(shadow2);
            transform: translateX(130px);
            h1 {
              color: color(primary);
            }
            .p {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              font-size: 9px;
              width: 50%;
            }
          }
        }
      }
      img {
        width: 45%;
        height: 90%;
      }
    }
    .con-about {
      height: 280px;
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .info {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        h3 {
          font-size: 14px;
          color: color(bdbg);
          text-transform: uppercase;
          letter-spacing: 5px;
          margin-top: 20px;
          margin-bottom: 8px;
        }
        h2 {
          font-size: 16px;
          color: color(bdbg);
          margin-bottom: 20px;
        }
        h5 {
          font-size: 12px;
          color: color(font);
          font-weight: 400;
          letter-spacing: 2px;
          margin-bottom: 10px;
        }
        p {
          font-size: 10px;
          color: color(font);
          margin-bottom: 5px;
          width: 90%;
        }
      }
      .img {
        width: 50%;
        height: 90%;
        background: url(../images/img1.png);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        .btns {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          width: 100%;
          height: 60px;
          .card {
            background-color: color(bg-normal);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            border-left: 5px solid color(primary);
            height: 90%;
            width: 220px;
            box-shadow: 4px 4px 5px color(shadow2);
            transform: translate(-70px, -18px);
            h1 {
              color: color(primary);
            }
            .p {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              font-size: 9px;
              width: 50%;
            }
          }
        }
      }
      #services {
        background: url(../images/webtech.png);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      #app {
        background: url(../images/apps.png);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      #sass {
        background: url(../images/scss.png);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      #blc {
        background: url(../images/blockchain.png);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }
    #con-services {
      flex-direction: row-reverse;
      .info {
        padding-left: 30px;
      }
    }
  }
}

.work {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .content {
    .con {
      width: 90%;
      height: 300px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .col {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .inner {
          height: 90%;
          width: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          img {
            height: 100px;
            width: 100px;
          }
          a {
            font-size: 10px;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            height: 35px;
            width: 100px;
            color: color(font);
            border: 2px solid color(primary);
          }
          .text {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            h5 {
              font-size: 12px;
              margin-bottom: 2px;
            }
            p {
              font-size: 9px;
              font-weight: 400;
              width: 100%;
              display: flex;
              align-items: center;
              color: color(bdbg);
              text-transform: none;
              letter-spacing: 0;
            }
            .arrow {
              margin-left: 30px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              font-size: 25px;
              background-color: color(primary);
              color: color(bdbg);
            }
          }
        }
      }
    }
  }
}

.contact {
  .content {
    .con {
      height: 350px;
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .info {
        width: 45%;
        height: 90%;
        h3 {
          font-size: 14px;
          letter-spacing: 5px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        p {
          font-size: 12px;
          margin-bottom: 5px;
        }
        h4 {
          margin-top: 20px;
          margin-bottom: 10px;
        }
        .social {
          width: 90%;
          height: 40px;
          display: flex;
          flex-direction: row;
          align-items: center;
          a {
            margin-right: 30px;
            font-size: 20px;
          }
        }
      }
      .contform {
        width: 55%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
          font-size: 16px;
          width: 100%;
          margin-bottom: 20px;
        }
        form {
          width: 100%;
          height: 70%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          input {
            outline: none;
            border: 1px solid color(font);
          }
          .inp1 {
            width: 100%;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            input {
              padding-left: 10px;
              width: 48%;
            }
          }
          .inp2 {
            margin-top: 10px;
            width: 100%;
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            input {
              padding-left: 10px;
              width: 100%;
              height: 40px;
            }
          }
          #btn {
            margin-top: 20px;
            background: none;
            outline: none;
            border: none;
            height: 40px;
            width: 100px;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 600;
            color: color(bg-normal);
            border-radius: 50px;
            background: color(primary);
          }
        }
      }
    }
  }
}

footer {
  height: 60px;
  width: 850px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: color(bg-normal);
  font-size: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: color(bdbg);
  a {
    color: color(bg-normal);
    margin-right: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
  }
  h5 {
    font-size: 10px;
    letter-spacing: 2px;
  }
}

.expert {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .con {
      width: 90%;
      height: 450px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      img {
        width: 50%;
        height: 90%;
      }
      .bio {
        height: 90%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h4 {
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 3px;
          margin-bottom: 15px;
          color: color(bdbg);
        }
        h5 {
          text-transform: uppercase;
          font-size: 12px;
          color: color(primary);
          letter-spacing: 3px;
          margin-bottom: 15px;
        }
        p {
          font-size: 10px;
          text-align: center;
          width: 90%;
          color: color(bdbg);
        }
      }
    }
  }
}

.portfolio {
  height: 100%;
  .bar {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 50px;
    h4 {
      font-size: 12px;
      letter-spacing: 1px;
      color: color(bdbg);
      text-transform: uppercase;
    }
    .search {
      width: 230px;
      height: 70%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-right: 10px;
      padding-left: 10px;
      border: 2px solid color(bg);
      input {
        background: none;
        border: none;
        outline: none;
      }
      button {
        height: 20px;
        background: color(primary);
        outline: none;
        border: none;
        width: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
  .allport {
    width: 90%;
    max-height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;
    .rows {
      width: 100%;
      height: 200px;
      margin: 20px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      .col1 {
        height: 90%;
        width: 25%;
        border-radius: 15px;
        box-shadow: 1px 1px 20px color(shadow);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          height: 150px;
        }
      }
      .col2 {
        height: 90%;
        width: 70%;
        border-radius: 15px;
        box-shadow: 1px 1px 20px color(shadow);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h5 {
          font-size: 10px;
          margin-bottom: 5px;
        }
        p {
          font-size: 9px;
          text-align: justify;
          width: 90%;
        }
        .inf {
          width: 90%;
        }
      }
    }
  }
}
